.videoListContainer {
  width: 100%;
  min-height: 100%;
  padding-top: 6px;
}

.videoListWrapper {
  width: 100%;
  display: grid;
  row-gap: var(--jx-card-row-gap);
  column-gap: var(--jx-card-column-gap);
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

@media (min-width: 1082px) {
  .videoListWrapper {
    grid-template-columns: repeat(3, minmax(310px, 1fr))
  }
}

@media (min-width: 1496px) {
  .videoListWrapper {
    grid-template-columns: repeat(4, minmax(310px, 1fr))
  }
}

@media (min-width: 1822px) {
  .videoListWrapper {
    grid-template-columns: repeat(5, minmax(310px, 1fr))
  }
}

@media (min-width: 1536px) {
  .bigCardWaterfallContainer {
    grid-area:span 2/span 3
  }
}