.headerMenu {
  min-width: 500px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.headerMenuItem {
  cursor: pointer;
  &:hover {
    color: var(--semi-color-text-2) !important;
  }
}

.loginTipContent {
  width: 220px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}