.headerMenu {
  min-width: 500px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.headerMenuItem {
  cursor: pointer;
  &:hover {
    color: var(--semi-color-text-2) !important;
  }
}

.listItem {
  cursor: pointer;
  border: none !important;
  height: 42px;
  padding: 12px;
  background-color: var(--semi-color-fill-0);
  border-radius: var(--semi-border-radius-small);
  margin-bottom: 10px;
  &:hover {
    background-color: var(--semi-color-fill-2);
  }
}

.listItemFooter {
  padding: 12px;
  cursor: pointer;
  &:hover {
    background-color: var(--semi-color-fill-2);
    border-radius: var(--semi-border-radius-small);
  }
}