.videoPlayerContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  border-radius: var(--semi-border-radius-medium);
  :global(.xgplayer) {
    background: none !important;
  } 
}