.pageNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:global(.semi-navigation) {
    border-right: none;
    background-color: var(--semi-color-default);
  }
}