.mainLayout {
  height: 100vh;
  overflow: hidden;
}

.siderContainer {
  width: 160px;
  height: 100%;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  flex-direction: column
}

.headerContainer {
  height: 56px;
}
.contentContainer {
  padding: 0 10px;
}