.feedPageContainer {
  :global(.semi-tabs-bar){
    position: fixed;
    top: var(--page-header-height);
    right: 0;
    left: 160px;
    z-index: 99;
    background-color: var(--semi-color-default);
    width: calc(100% - 178px);
    padding-right: 20px;
    padding-left: 20px;
  }
}
.tabPaneContainer {
  padding-top: 46px;
}
.tabRightArrowWrapper {
  margin-top: 6px;
  width: 20px;
  padding-left: 10px;
}