.searchBarInput {
  flex: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  height: 40px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 0 1px var(--semi-color-text-0);
    background-color: transparent;
    :global(.search-button) {
      background-color: var(--semi-color-text-0);
      color: var(--semi-color-bg-0);
      :global(.semi-icon) {
        color: var(--semi-color-bg-0);
      }
    }
  }
  &:focus {
    border: 0;
  }
  &:active {
    background-color: transparent;
  }
}

.searchButtonWrapper {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}