:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--semi-color-default);
}

.semi-navigation-item-selected {
  background-color: var(--semi-color-fill-1);
  .semi-navigation-item-icon:first-child { 
    color: var(--semi-color-text-0) !important;
  }
}

.semi-list-split .semi-list-header {
  border-bottom: none !important;
}

.semi-list-split .semi-list-footer {
  padding: 12px 0 !important;
}