:root {
  font-family: PingFang SC,DFPKingGothicGB-Regular,sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --jx-card-row-gap: 24px;
  --jx-card-column-gap: 16px;
  --page-header-height: 56px;
  /* 标题 + footer 高度 */
  --jx-info-height: 90px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--semi-color-default);
  overflow-y: overlay;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

*::-webkit-scrollbar {
  display: none; /* Chrome Safari Edge */
}

.semi-navigation-item-selected {
  background-color: var(--semi-color-fill-1);
  .semi-navigation-item-icon:first-child { 
    color: var(--semi-color-text-0) !important;
  }
}

.semi-list-split .semi-list-header {
  border-bottom: none !important;
}

.semi-list-split .semi-list-footer {
  padding: 12px 0 !important;
}